<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Biblioteca</title>
</head>
<body>
	<h2>
		Cadastro de Livros
	</h2>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/> 
		Autor: <input type="text" value="" name="autor"/> <br><br>
		Editora: <input type="text" value="" name="Editora"/>
		Ano: <input type="text" value="" name="Ano"/> <br><br>
		ISBN: <input type="text" value="" name="isbn"/> <br><br>
		
		
		<br><br>
		<button  type="submit">Salvar</button>
	
	</form>
</body>
</html>